.board {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-family: 'Helvetica';
}

.O {
  font-size: 36px;
  color: green;
}

.X {
  font-size: 36px;
  color: red;
}

.modal-background {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  width: 60%;
  height: 300px;
  margin: 15% auto;
  background-color: white;
}
