#board-anchor {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.u--hide {
  display: none !important;
}

.board {
  width: 600;
  height: 600;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.col {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  font-family: 'Helvetica';
}

/* flipping card animation */

.flip-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.flip-card-wrapper--clicked {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: lightgrey;
}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.O {
  font-size: 100px;
  color: green;
}

.X {
  font-size: 100px;
  color: red;
}

.modal-background {
  /* display: block; */
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.modal-show.modal-background {
  display: block;
}

.modal-overlay {
  visibility: hidden;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 300px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.modal-show.modal-overlay {
  visibility: visible;
}

.modal-content {
  background-color: #e74c3c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transform: scale(0.7);
  opacity: 0;
  transition: all .3s linear;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.modal-show.modal-overlay .modal-content {
  transform: scale(1);
	opacity: 1;
}

.modal-content > div, button {
  padding: 20px 20px;
}

.modal-title {
  text-align: center;
  background: rgba(0,0,0,0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}

.modal-message {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em; 

}

.modal-bottom {
  display: flex;
  justify-content: center;
  background: #c0392b;
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  letter-spacing: 1px;
  border: 0px;
  cursor: pointer;
  color: #333333;
}

.modal-bottom:hover {
  background: rgba(212, 181, 181, 0.1);
}

.modal-bottom:focus {
  border: 0px;
}
