/* flushing existing body style */
body {
  margin: 0;
  padding: 0;
}
/* important globals */
.flex--col {
  display: flex !important;
  flex-direction: column !important;
}

.flex--row {
  display: flex !important;
  flex-direction: row !important;
}

.u--hide {
  display: none !important;
}
/* important globals */
#app {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  /* background: #e3f2fd; */
}

#board-anchor {
  display: flex;
  height: 100vh;
  align-items: center;
}

#app.modal-show #board-anchor {
  filter: blur(3px);
}

/* everything about current player title - start */

.current-player__wrapper {
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  width: 100%;
  height: 20%;
  font-size: 50px;
  background: #e3f2fd;
  text-transform: uppercase;
}

/* everything about current player title - end */

/* everything about board - start */
.board {
  width: 600;
  height: 600;
  display: flex;
  flex-direction: column;
  border: 1px solid #0d47a1;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.row {
  display: flex;
}

.col {
  border: 1px solid #0d47a1;
  width: 200px;
  height: 200px;
  font-family: 'Helvetica';
}

.O {
  font-size: 100px;
  color: green;
}

.X {
  font-size: 100px;
  color: red;
}

/* flipping card animation - start */

.flip-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.flip-card-wrapper--clicked {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #e3f2fd;
}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

/* flipping card animation - end */

/* everything about board - end */

/* everything about record - start */

.record {
  min-width: 40%;
  margin: 0px 0px 0px 30px;
  background: #e3f2fd;
}

/* everything about record - end */

/* everything about modal -start */
.modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

#app.modal-show .modal-background {
  display: block;
}

.modal-overlay {
  display: none;
  /* visibility: hidden; */
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 300px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
}

/* .modal-show.modal-overlay {
  visibility: visible;
} */
#app.modal-show .modal-overlay {
  display: block;
}

.modal-content {
  background-color: #42a5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* transform: scale(0.7);
  opacity: 0;
  transition: all .3s linear; */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* .modal-show.modal-overlay .modal-content {
  transform: scale(1);
	opacity: 1;
} */
#app.modal-show .modal-content {
  animation: scaling .3s linear;
}

@keyframes scaling {
  from { 
    transform: scale(0.7);
    /* transform: rotateY(-70deg); */
    opacity: 0;
  }
  to { 
    transform: scale(1);
    /* transform: rotateY(0deg); */
	  opacity: 1; 
  }
}

.modal-content > div, button {
  padding: 20px 20px;
}

.modal-title {
  text-align: center;
  background: rgba(0,0,0,0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}

.modal-message {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em; 

}

.modal-bottom {
  display: flex;
  justify-content: center;
  background: #bbdefb;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
  cursor: pointer;
  color: #333333;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.modal-bottom:hover {
  background: #1976d2;
  color: white;
}

.modal-bottom:focus {
  border: 0px;
}

/* everything about modal - end */